mlproject
*.pdf
data/raw
src/__pycache__
src/.DS_Store
src/data/__pycache__
src/features/__pycache__
src/models/__pycache__
.DS_Store
src/data/.DS_Store
data/processed
weights
ml_barepass
notebooks/assignment1/.ipynb_checkpoints
data/processed